<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fall City</title>
    <link rel="stylesheet" href="../../static/blog/style.css">
    <meta name="author" content="Fall City">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/Images/fcico2.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <header class="header">
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="trailer.html">Trailer</a></li>
                <li><a href="story.html">About</a></li>
                <li><a href="images.html">Images</a></li>
                <li><a href="email.html">Release</a></li>
                <li><a href="castcrew.html">Cast</a></li>
            </ul>
    </header>
    <div class="bg"></div>





    <div class="flex-grid">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col" id="logo"><img src="../../static/Images/fctrans.png" width=160%></div>
        <div class="col"></div>
    </div>
    <article>
        <div id="releaseContainer">
            <h2 id="comingSoon">Coming Fall 2018</h2>
            <h3>Want updates? Sign up for our email list</h3>
            <br>
            <div id="emailBox">
                <input type="email" name="email" value="enter email here">
                <input type="submit">
            </div>
        </div>



    </article>
    <footer class="footer">
        <div class="flex-grid">
            <div class="col" id="social"><a href="https://www.facebook.com/fallcitymovie/" class="fa fa-facebook"></a><a href="https://twitter.com/fallcitymovie" class="fa fa-twitter"></a><a href="#" class="fa fa-instagram"></a></div>
            <div class="col"></div>
            <div class="col" id="emailInput"><i class="fa fa-envelope-o" aria-hidden="true"><a href="email.html"></a> </i></div>
            <div class="col"></div>
            <div class="col" id="production"><img src="../../static/blog/redCoral.png" id=redCoral height="39px"><img src="../../static/blog/fridayFeature.png" id="friday" height="39px"></div>
        </div>
    </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="email.js"></script>
</body>
</html>
